<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo"></div>
            <div class="options">
                <a class="btn" href="/login">Login</a>
            </div>
        </nav>
    </header>
    <main>
        <form action="/user" method="post" class="form_submit">
            <h1>Signup</h1><br>
            <label for="name">Name : </label>
            <input type="text" name="name" id="name">
            <br>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">Password : </label>
            <input type="password" name="password" id="password">
            <br>
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
</body>
</html>